:root {
    --color-dark: #0C1618;
    --color-primary: #004643;
    --color-background: #FAF4D3;
    --color-secondary: #D1AC00;
    --color-accent: #F6BE9A;

    --font-heading: 'Cambo', serif;
    --font-body: 'Chivo', sans-serif;
}

.cambo-regular {
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: normal;
}

.chivo-regular {
    font-family: var(--font-body);
    font-weight: 300;
    font-style: normal;
}

/* Typography */
body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-dark);
    margin: 0;
    line-height: 1.6;
}

h1,
h2 {
    font-family: var(--font-heading);
    color: var(--color-primary);
}

.header-title h1 {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    color: var(--color-background);
    margin-bottom: 1rem;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 1rem;
    text-align: center;
}

.header-title h1 {
    font-family: var(--font-heading);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

nav.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

nav.navigation a {
    color: var(--color-background);
    text-decoration: none;
    font-family: var(--font-body);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

nav.navigation a:hover {
    background-color: var(--color-accent);
    color: var(--color-primary);
    transform: scale(1.05);
}

/* Main */
main {
    max-width: 960px;
    margin: 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* Card */
.card {
    background: white;
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.card h2 {
    text-align: center;
}

.card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.card:hover {
    transform: translateY(-5px);
}

/* Footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-background);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

#lastModified {
    color: var(--color-accent);
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
}