.cambo-regular {
    font-family: "Cambo", serif;
    font-weight: 400;
    font-style: normal;
}

.chivo-regular {
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}