@media screen and (max-width: 768px) {
    #menuBtn {
        display: block;
    }

    .navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navigation.open {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .images {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .images img {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    figcaption {
        text-align: center;
        font-size: 0.9rem;
    }
}